.navbar .navbar-brand{
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
 }

 .navbar .navbar-nav .nav-item{
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
 }

.foto{
  width: 90px;
}

.table > tbody > tr > * {
  vertical-align: middle;
}

.judul{
  margin-top: 30px;
  margin-bottom: 30px;
}

.tautan{
  text-decoration: none;
}

.ul-no-dec{
  list-style-type: none
}